<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title>Rozvrh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"
        >{{ "Loading..."}}</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <div class="ion-justify-content-center">
    <ion-spinner *ngIf="!schedule" name="circular"></ion-spinner>
  </div>

  <ion-card  *ngFor="let item of schedule">
    <ion-card-header>
      <ion-card-title>{{  item.nazev }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ item.ucitel.jmeno }}
      {{ item.ucitel.prijmeni }}
      <br>
      {{ item.typAkce }}
    </ion-card-content>
    <ion-card-content>
      {{item.den}}
      {{item.hodinaSkutOd.value }} - {{ item.hodinaSkutDo.value }}
      <br>
      {{item.budova}}/
      {{item.mistnost}}
    </ion-card-content>
  </ion-card>
</ion-content>