<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="calendar"></ion-icon>
      Rozvrh
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rozvrh</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (ionInput)="filterSchedule($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Vyber den</ion-label>
    <ion-select (ionChange)="filterByDay($event)" [value]="selectedDay">
      <ion-select-option value="all">Vše</ion-select-option>
      <ion-select-option *ngFor="let day of getDays()" [value]="day">{{ day }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngFor="let day of getDays()">
    <ion-card *ngIf="filteredScheduleByDay[day] && filteredScheduleByDay[day].length">
      <ion-card-header>
        <ion-card-title>{{ day }}</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let item of filteredScheduleByDay[day]">
          <ion-label>
            <h2>{{ item.nazev }}</h2>
            <p>{{ item.predmet }}</p>
            <p>{{ item.den }} {{ item.hodinaSkutOd.value }} - {{ item.hodinaSkutDo.value }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>